In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

In [18]:

df=pd.read_csv('50_Startups.csv')
# x=df[["R&D Spend","Administration","Marketing Spend"]]
# y=df[["Profit"]]

x = df.iloc[:,:-2]
y = df.iloc[:,-1]

print(x.head())
print(y.head())

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42
0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [19]:
df.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [26]:

x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

lr = linear_model.LinearRegression()
lr.fit(x_train,y_train)
y_pred = lr.predict(x_test)

In [27]:
print(y_pred)

[103901.8969696  132763.05993126 133567.90370044  72911.78976736
 179627.92567224 115166.64864795  67113.5769057   98154.80686776
 114756.11555221 169064.01408795]

In [28]:
score = r2_score(y_test,y_pred)
mse = mean_squared_error(y_test,y_pred)
sqrt = np.sqrt(mse)

print(f"r2_score: {score}")
print(f"Mean Square Error: {mse}")
print(f"Root Mean Square Error: {sqrt}")

r2_score: 0.939395591782057
Mean Square Error: 77506468.1688542
Root Mean Square Error: 8803.775790469348