In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [3]:
data = pd.read_csv("Social_Network_Ads.csv")
# print(data)
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
gender = pd.get_dummies(data['Gender'])
data = data.drop('Gender',axis=1)
data = pd.concat([data, gender], axis=1)
data.head()

    User ID  Age  EstimatedSalary  Purchased  Female  Male
0  15624510   19            19000          0       0     1
1  15810944   35            20000          0       0     1
2  15668575   26            43000          0       1     0
3  15603246   27            57000          0       1     0
4  15804002   19            76000          0       0     1

In [5]:
X = data[['User ID','EstimatedSalary']]
Y = data['Purchased']
# print(X)
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.3,random_state = 1)
print("Shape of Training Data: ",X_train.shape)
print("Shape of Test Data: ",X_test.shape)
print("Shape of Training Data: ",Y_train.shape)
print("Shape of Test Data: ",Y_test.shape)

Shape of Training Data:  (280, 2)
Shape of Test Data:  (120, 2)
Shape of Training Data:  (280,)
Shape of Test Data:  (120,)

In [6]:
from sklearn.svm import SVC
classifier_Linear = SVC(kernel = 'linear')
classifier_Linear.fit(X_train, Y_train)

SVC(kernel='linear')

In [7]:
predval = classifier_Linear.predict(X_test)
print(predval)

[0 0 1 1 1 0 0 0 0 1 0 0 0 1 0 1 0 0 0 1 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0
 0 0 0 1 1 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 1 1 0 0 1 0 0 0 1 0
 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0
 0 0 0 1 1 0 0 0 0]

In [17]:
from sklearn.metrics import confusion_matrix,accuracy_score
print('Accuracy of Linear SVM Model is ', accuracy_score(Y_test, predval))
print('\n\nConfusion Matrix of Linear SVM Model:\n', confusion_matrix(Y_test, predval))

Accuracy of Linear SVM Model is  0.6833333333333333


Confusion Matrix of Linear SVM Model:
 [[64  8]
 [30 18]]