In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [3]:
data = pd.read_csv("Social_Network_Ads.csv")
# print(data)
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [4]:
gender = pd.get_dummies(data['Gender'])
data = data.drop('Gender',axis=1)
data = pd.concat([data, gender], axis=1)
data.head()

    User ID  Age  EstimatedSalary  Purchased  Female  Male
0  15624510   19            19000          0       0     1
1  15810944   35            20000          0       0     1
2  15668575   26            43000          0       1     0
3  15603246   27            57000          0       1     0
4  15804002   19            76000          0       0     1

In [6]:
X = data.drop('Purchased',axis=1)
Y = data['Purchased']
# print(X)
X_train,X_test,y_train,y_test = train_test_split(X,Y,test_size=0.4, random_state=1)
print("Shape of Training Data: ",X_train.shape)
print("Shape of Test Data: ",X_test.shape)
print("Shape of Training Data: ",y_train.shape)
print("Shape of Test Data: ",y_test.shape)

Shape of Training Data:  (240, 5)
Shape of Test Data:  (160, 5)
Shape of Training Data:  (240,)
Shape of Test Data:  (160,)

In [7]:
from sklearn.tree import DecisionTreeClassifier
cls=DecisionTreeClassifier()
cls.fit(X_train,y_train)

DecisionTreeClassifier()

In [8]:
y_pred=cls.predict(X_test)
y_pred

array([0, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1,
       1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 1,
       0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0,
       1, 1, 0, 0, 0, 1])

In [10]:
from sklearn.metrics import confusion_matrix,accuracy_score
print('Accuracy ', accuracy_score(y_test, y_pred))
print('\n', '\n','Confusion Matrix :' '\n', confusion_matrix(y_test, y_pred))

Accuracy  0.84375


 Confusion Matrix :
 [[86 15]
 [10 49]]