In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split

In [22]:
data = pd.read_csv("Social_Network_Ads.csv")
# print(data)
data.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [23]:
gender = pd.get_dummies(data['Gender'])
data = data.drop('Gender',axis=1)
data = pd.concat([data, gender], axis=1)
print(data)

      User ID  Age  EstimatedSalary  Purchased  Female  Male
0    15624510   19            19000          0       0     1
1    15810944   35            20000          0       0     1
2    15668575   26            43000          0       1     0
3    15603246   27            57000          0       1     0
4    15804002   19            76000          0       0     1
5    15728773   27            58000          0       0     1
6    15598044   27            84000          0       1     0
7    15694829   32           150000          1       1     0
8    15600575   25            33000          0       0     1
9    15727311   35            65000          0       1     0
10   15570769   26            80000          0       1     0
11   15606274   26            52000          0       1     0
12   15746139   20            86000          0       0     1
13   15704987   32            18000          0       0     1
14   15628972   18            82000          0       0     1
15   15697686   29            80000          0       0     1
16   15733883   47            25000          1       0     1
17   15617482   45            26000          1       0     1
18   15704583   46            28000          1       0     1
19   15621083   48            29000          1       1     0
20   15649487   45            22000          1       0     1
21   15736760   47            49000          1       1     0
22   15714658   48            41000          1       0     1
23   15599081   45            22000          1       1     0
24   15705113   46            23000          1       0     1
25   15631159   47            20000          1       0     1
26   15792818   49            28000          1       0     1
27   15633531   47            30000          1       1     0
28   15744529   29            43000          0       0     1
29   15669656   31            18000          0       0     1
..        ...  ...              ...        ...     ...   ...
370  15611430   60            46000          1       1     0
371  15774744   60            83000          1       0     1
372  15629885   39            73000          0       1     0
373  15708791   59           130000          1       0     1
374  15793890   37            80000          0       1     0
375  15646091   46            32000          1       1     0
376  15596984   46            74000          0       1     0
377  15800215   42            53000          0       1     0
378  15577806   41            87000          1       0     1
379  15749381   58            23000          1       1     0
380  15683758   42            64000          0       0     1
381  15670615   48            33000          1       0     1
382  15715622   44           139000          1       1     0
383  15707634   49            28000          1       0     1
384  15806901   57            33000          1       1     0
385  15775335   56            60000          1       0     1
386  15724150   49            39000          1       1     0
387  15627220   39            71000          0       0     1
388  15672330   47            34000          1       0     1
389  15668521   48            35000          1       1     0
390  15807837   48            33000          1       0     1
391  15592570   47            23000          1       0     1
392  15748589   45            45000          1       1     0
393  15635893   60            42000          1       0     1
394  15757632   39            59000          0       1     0
395  15691863   46            41000          1       1     0
396  15706071   51            23000          1       0     1
397  15654296   50            20000          1       1     0
398  15755018   36            33000          0       0     1
399  15594041   49            36000          1       1     0

[400 rows x 6 columns]

In [24]:
X = data[['User ID','EstimatedSalary']]
Y = data['Purchased']
# print(X)
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.4)
print("Shape of Training Data: ",X_train.shape)
print("Shape of Test Data: ",X_test.shape)
print("Shape of Training Data: ",Y_train.shape)
print("Shape of Test Data: ",Y_test.shape)

Shape of Training Data:  (240, 2)
Shape of Test Data:  (160, 2)
Shape of Training Data:  (240,)
Shape of Test Data:  (160,)

In [25]:
from sklearn.svm import SVC
classifier_Linear = SVC(kernel = 'linear',random_state = 0)
classifier_Linear.fit(X_train, Y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
    kernel='linear', max_iter=-1, probability=False, random_state=0,
    shrinking=True, tol=0.001, verbose=False)

In [26]:
predval = classifier_Linear.predict(X_test)
print(predval)

[0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 1 1 0 0 1 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0
 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 1 1 0 0 0 1 0 0
 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 1 1 0 0 0 0 0 1 0
 1 0 0 1 0 1 1 0 0 1 1 0]

In [27]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
print('Accuracy of Linear SVM Model is ', accuracy_score(Y_test, predval))
print('\n', '\n','Confusion Matrix of Linear SVM Model:' '\n', confusion_matrix(Y_test, predval))

Accuracy of Linear SVM Model is  0.775


 Confusion Matrix of Linear SVM Model:
 [[103   9]
 [ 27  21]]